body {
    background-image: url("https://cdn.pixabay.com/photo/2014/08/20/05/22/big-bang-422305_960_720.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
		background-size:cover;
}
